<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Tim's Hockey Helper</title>

<script>
	// on page load, focus on playerlist -> lets you type immediately
	document.addEventListener('DOMContentLoaded', function() {
		document.getElementById("playerSelect").focus();
	}, false);
</script>

</head>
<body>
	<h1>Tim's Hockey Helper</h1>
	
	<form th:action="@{/}" method="post">
		<select id="playerSelect" th:name="pickedPlayers" multiple size='20'>
			<option th:each="player : *{players}" th:text="${player.formattedName}" th:value="${player.id}" />
		</select><br><br>
		<input type="submit" value="Add to Group" name="btn"><br>
	</form><br>


	<h3>Group</h3>
	<table>
		<tr th:each="player : ${group}">
			<td th:text="${player.formattedName}"></td>
			<td> <a th:href="@{/removePlayer/{id} (id=${player.id})}">Remove</a> </td>
		</tr>
	</table>
	<br>
	<input type="button" value="Clear All" th:onclick="'window.location.href = \'' + @{/clearAll} + '\''">

</body>
</html>